<h1>
  This is App 2 Component Here...
</h1>

<button (click) = "clickMe()">
  Event Binding Button
</button> 

<br>
<br>

<input (keyup)="onKeyUp1($event)" placeholder="Without Event Filtering"> <br> <br>
<input (keyup.enter)="onKeyUp2()" placeholder="Press Enter"> <br> <br>
<input (keyup.A)="onKeyUp2()" placeholder="Press A"> <br> <br>
<input (keyup.enter)="onKeyUp3(username.value)" #username placeholder="Template Variable" > <br> <br>

<!-- Two Way Data Binding -->
<input type="text" (keyup.enter)="onKeyUp4()" [(ngModel)] = 'userName' placeholder="Two Way Data Binding"><br> <br>

<!-- One Way vs. Two Way Data Binding -->
<input type="text" (keyup.enter) = 'onKeyUp5()' [value] = 'userText' placeholder="Ex. One way data binding"><br> <br>
<input type="text" (keyup.enter) = 'onKeyUp6()' [(ngModel)] = 'userText2' placeholder="Ex. Two way data binding">

<ul>
  <li>Message From Child : Post Component</li>
  <li>
    {{ messageFromPost }}
  </li>
</ul>

<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receivedPostChildMessage($event)'></app-post>

<h1>
  Message From Child <br>
  {{ messageFromPostViaOutput }}
</h1>

<h1> With String Interpolation </h1>
<img src="{{ imgUrl }}" alt="">

<h1> With Property Binding </h1>
<img [src]="imgUrl" alt="">

<h1 [class.text-red] = 'textRedBool'>
  CSS Class Binding
</h1>

<h1 [style.color]='textRedBool ? "white" : "orange"' [style.backgroundColor]='textRedBool ? "green" : "blue"' style="text-decoration: line-through;">
  CSS Style Binding
</h1>

<h1>============= Data Binding Task =============</h1>
<div style="display: grid; grid-template-columns: repeat(2, 1fr);">
  <div>
    <input type="text" placeholder="Add Title" [(ngModel)]='textTitle'> <br> <br>
    <textarea cols="21" rows="5" [(ngModel)]='textDetails'></textarea> <br> <br>
    <input type="text" placeholder="Add Image URL" [(ngModel)]='taskImgUrl'> <br> <br>
    <input type="text" placeholder="Add Web URL" [(ngModel)]='taskWebUrl'> <br> <br>
    <input type="checkbox" [(ngModel)]='isChecked'> Add Background
  </div>
  
  <div>
    <p [class.yellowBg]="isChecked">{{ textTitle }}</p>
    <p>{{ textDetails }}</p>
    <img [src]="taskImgUrl" alt="" style="width: 100px;"> <br>
    <a [href]="taskWebUrl" [style.display]='taskWebUrl ? "block" : "none"' target="_blank">Click Me</a>
  </div>
</div>

<h1>============= Data Binding + Directives Task =============</h1>
<table border="2" cellspacing="10" style="width: 100%; table-layout: fixed;">
  <tr>
    <td style="padding: 15px; width: 25%;">Input</td>
    <td style="padding: 15px;">Output</td>
  </tr>
  <tr>
    <td style="padding: 15px;">
      <input type="text" [(ngModel)] = 'directiveName' placeholder="Name" style="width: 100%;"> <br><br>
      <input type="email" [(ngModel)] = 'directiveEmail' placeholder="Email" style="width: 100%;"><br><br>
      <textarea cols="30" rows="10" [(ngModel)] = 'directiveAddress' style="width: 100%;"></textarea><br><br>
      <button (click) = "saveDirectiveData()">Save Details</button>
    </td>
    <td style="padding: 15px; vertical-align: top;">
      <table border="2" cellpadding="5" style="width: 100%;" *ngIf = "directiveArray.length > 0; else noData"> 
        <tr style="text-align: center;">
          <td>#</td>
          <td>Name</td>
          <td>Email</td>
          <td>Address</td>
          <td>Action</td>
        </tr>
        <tr *ngFor = 'let detail of directiveArray; let i = index' style="text-align: center;">
          <td>{{ i + 1 }}</td>
          <td>{{ detail.name }}</td>
          <td style="word-break: break-all; width: 30%">{{ detail.email }}</td>
          <td>{{ detail.address }}</td>
          <td>
            <button (click) = "delDirectiveArrayObj(i)">Delete</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<ng-template #noData>
  <h3 style="text-align: center;">No Data Found</h3>
</ng-template>

<!-- Angular Pipes -->
<h1 style="margin-top: 50px;">============= Uppercase and Lowercase Pipe =============</h1>
<p>Uppercase Pipe => {{ pipeTitle | uppercase }}</p>
<p>Lowercase Pipe => {{ pipeTitle | lowercase }}</p>

<h1 style="margin-top: 50px;">============= Number or Decimal Pipe =============</h1>
<p>Number/Decimal Pipe => {{ pipeNumber | number }}</p>
<p>Number/Decimal Pipe => {{ pipeDecimal | number: '1.2-5' }}</p>
<p>Number/Decimal Pipe => {{ pipeDecimal | number: '2.0-0' }}</p>
<p>Number/Decimal Pipe => {{ pipeDecimal | number: '2.0-1' }}</p>
<p>Number/Decimal Pipe => {{ pipeDecimal | number: '2.2-2' }}</p>
<p>Number/Decimal Pipe => {{ pipeDecimal | number: '5.2-2' }}</p>

<h1 style="margin-top: 50px;">============= Currency Pipe =============</h1>
<p>Currency Pipe => {{ pipeCurrency | currency }}</p>
<p>Currency Pipe => {{ pipeCurrency | currency:"CAD" }}</p>
<p>Currency Pipe => {{ pipeCurrency | currency:"INR" }}</p>
<p>Currency Pipe => {{ pipeCurrency | currency:"JPY" }}</p>
<p>Currency Pipe => {{ pipeCurrency | currency:"USD" : false }}</p>
<p>Currency Pipe => {{ pipeCurrency | currency:"USD" : true }}</p>
<p>Currency Pipe => {{ pipeCurrency | currency : "USD" : true : '3.2-4' }}</p>

<h1 style="margin-top: 50px;">============= Date Pipe =============</h1>
<!-- Refer: https://angular.io/api/common/DatePipe -->
<p>Date Pipe => {{ pipeDate }}</p>
<p>Date Pipe => {{ pipeDate | date : "short" }}</p>
<p>Date Pipe => {{ pipeDate | date : "shortDate"  }}</p>
<p>Date Pipe => {{ pipeDate | date : "d-M-yy"  }}</p>
<p>Date Pipe => {{ pipeDate | date : "d/MM/yyyy"  }}</p>
<p>Date Pipe => {{ pipeDate | date : "shortTime"  }}</p>

<h1 style="margin-top: 50px;">============= JSON Pipe =============</h1>
<p>JSON Pipe => {{ pipeJson }}</p>
<p>JSON Pipe => {{ pipeJson | json }}</p>
<p>JSON Pipe => {{ pipeJson.postTitle | json }}</p>

<h1 style="margin-top: 50px;">============= Percent Pipe =============</h1>
<p>Percent Pipe => {{ pipePercent | percent }}</p>
<p>Percent Pipe => {{ 5 | percent }}</p>
<p>Percent Pipe => {{ 5.59896 | percent }}</p>
<p>Percent Pipe => {{ 5.59896 | percent : "2.3-3" }}</p>

<h1 style="margin-top: 50px;">============= Slice Pipe =============</h1>
<p>Slice Pipe => {{ pipeSlice }}</p>
<p>Slice Pipe => {{ pipeSlice | slice : 0 : 3 }}</p>
<p>Slice Pipe => {{ pipeSlice | slice : 3 : 5 }}</p>

<h1 style="margin-top: 50px;">============= Custom Pipe (Scratch) =============</h1>
<!-- Append 'Manish says' -->
<p>Custom Pipe => {{ "Hello." | append }}</p>
<p>Custom Pipe => {{ "that he loves Watermelon." | append }}</p>

<h1 style="margin-top: 50px;">============= Custom Pipe (Angular CLI) =============</h1>
<!-- Append 'City Name: ' -->
<p>Custom Pipe => {{ "Mumbai" | appendCLI }}</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>