<h1>
  This is App 2 Component Here...
</h1>

<ul>
  <li>Message From Child : Post Component</li>
  <li>
    {{ messageFromPost }}
  </li>
</ul>

<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receivedPostChildMessage($event)'></app-post>

<h1>
  Message From Child <br>
  {{ messageFromPostViaOutput }}
</h1>

<h1> With String Interpolation </h1>
<img src="{{ imgUrl }}" alt="">

<h1> With Property Binding </h1>
<img [src]="imgUrl" alt="">

<h1 [class.text-red] = 'textRedBool'>
  CSS Class Binding
</h1>

<h1 [style.color]='textRedBool ? "white" : "orange"' [style.backgroundColor]='textRedBool ? "green" : "blue"' style="text-decoration: line-through;">
  CSS Style Binding
</h1>