<h1>
  This is App 2 Component Here...
</h1>

<button (click) = "clickMe()">
  Event Binding Button
</button> 

<br>
<br>

<input (keyup)="onKeyUp1($event)" placeholder="Without Event Filtering"> <br> <br>
<input (keyup.enter)="onKeyUp2()" placeholder="Press Enter"> <br> <br>
<input (keyup.A)="onKeyUp2()" placeholder="Press A"> <br> <br>
<input (keyup.enter)="onKeyUp3(username.value)" #username placeholder="Template Variable" > <br> <br>

<!-- Two Way Data Binding -->
<input type="text" (keyup.enter)="onKeyUp4()" [(ngModel)] = 'userName' placeholder="Two Way Data Binding"><br> <br>

<!-- One Way vs. Two Way Data Binding -->
<input type="text" (keyup.enter) = 'onKeyUp5()' [value] = 'userText' placeholder="Ex. One way data binding"><br> <br>
<input type="text" (keyup.enter) = 'onKeyUp6()' [(ngModel)] = 'userText2' placeholder="Ex. Two way data binding">

<ul>
  <li>Message From Child : Post Component</li>
  <li>
    {{ messageFromPost }}
  </li>
</ul>

<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receivedPostChildMessage($event)'></app-post>

<h1>
  Message From Child <br>
  {{ messageFromPostViaOutput }}
</h1>

<h1> With String Interpolation </h1>
<img src="{{ imgUrl }}" alt="">

<h1> With Property Binding </h1>
<img [src]="imgUrl" alt="">

<h1 [class.text-red] = 'textRedBool'>
  CSS Class Binding
</h1>

<h1 [style.color]='textRedBool ? "white" : "orange"' [style.backgroundColor]='textRedBool ? "green" : "blue"' style="text-decoration: line-through;">
  CSS Style Binding
</h1>