<h1>
  <!-- Here we created the scope in order to use the variable -->
  <!-- This is what we call Data Binding in Angular -->
  <h3 class="box-title"># Data Binding / String Interpolation</h3>
  <div class="space-y-1">
    <p>
      {{ title }}
    </p>
    <ul>
      <li>{{ 100 + 50 }}</li>
      <li>{{ 2*5 }}</li>
      <li>{{ null == undefined }}</li>
      <li>{{ null === undefined }}</li>
      <li>{{ undefined }}</li>
      <li>{{ 3 / 0 }}</li>
    </ul>
  </div>
</h1>

<h1>
  <h3 class="box-title"># Parent to Child Data Sharing </h3>
  <p>{{ fromParent }}</p>
</h1>

<button (click)='sendMsgToParent()' class="btn btn-primary">
  Send Data to Parent
</button>