<h1>Post Works!</h1>

<h1>
  <!-- Here we created the scope in order to use the variable -->
  <!-- This is what we call Data Binding in Angular -->
  {{ title }}
</h1>

<ul>
  <li>{{ 100 + 50 }}</li>
  <li>{{ 2*5 }}</li>
  <li>{{ null == undefined }}</li>
  <li>{{ null === undefined }}</li>
  <li>{{ undefined }}</li>
  <li>{{ 3 / 0 }}</li>
</ul>

<h1>
  Message From Parent => <br>
  {{ fromParent }}
</h1>

<button (click)='sendMsgToParent()'>
  Send Data to Parent
</button>

<div style="margin: 30px 0;">
  <h3>========== *ngFor Directive (Array Example)==========</h3>
  <ul>
    <li>{{ postArray[0] }}</li>
    <li>{{ postArray[1] }}</li>
    <li>{{ postArray[2] }}</li>
    <li>{{ postArray[3] }}</li>
    <li>{{ postArray[4] }}</li>
  </ul>
  <br>
  <ul>
    <li *ngFor = "let post of postArray">
      {{ post }}
    </li>
  </ul>
</div>

<div style="margin: 30px 0;">
  <h3>========== *ngFor Directive (Object Array Example)==========</h3>
  <button (click)="addObjToObjArray()">Add Object</button>
  <ul>
    <li *ngFor="let obj of objArray; let i = index"> 
      {{ obj.title }} 
      <button (click)="deleteObj1(obj)">Del1</button>
      <button (click)="deleteObj2(i)">Del2</button>
    </li>
  </ul>
</div>