/* You can add global styles to this file, and also import other style files */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
}

.web-section {
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.web-section + .web-section {
  margin-top: 30px;
}

.space-y-1 > *+* {
  margin-top: 1rem;
}

.box-title {
  margin-bottom: 20px;
}